.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

  p{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
